flows.json
[
    {
        "id": "0008fcf0ac8e3fc4",
        "type": "tab",
        "label": "SeparatingMainConveyor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "14e0290e2bea4e8c",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://150.162.14.27:4840",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "b3167a04a4347352",
        "type": "http in",
        "z": "0008fcf0ac8e3fc4",
        "name": "post status",
        "url": "/separating/mainConveyor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 620,
        "wires": [
            [
                "b9c0c8cc76eaf506"
            ]
        ]
    },
    {
        "id": "c10fc7857031d826",
        "type": "http response",
        "z": "0008fcf0ac8e3fc4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "f9218c6d85ee5484",
        "type": "file",
        "z": "0008fcf0ac8e3fc4",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 580,
        "y": 120,
        "wires": [
            [
                "c10fc7857031d826"
            ]
        ]
    },
    {
        "id": "0b7991cfc665dd32",
        "type": "http in",
        "z": "0008fcf0ac8e3fc4",
        "name": "get status",
        "url": "/separating/mainConveyor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "a961b59b528f1362"
            ]
        ]
    },
    {
        "id": "0e0755a698733018",
        "type": "file in",
        "z": "0008fcf0ac8e3fc4",
        "name": "",
        "filename": "/home/aawz/.node-red/data/mainConveyor.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 630,
        "y": 320,
        "wires": [
            [
                "2ea2b427facd83e1"
            ]
        ]
    },
    {
        "id": "2ea2b427facd83e1",
        "type": "http response",
        "z": "0008fcf0ac8e3fc4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 320,
        "wires": []
    },
    {
        "id": "0c06c7ef740f289b",
        "type": "function",
        "z": "0008fcf0ac8e3fc4",
        "name": "function 1",
        "func": "// Obtenha o diretório atual de onde o Node-RED está executando\nconst baseDir = process.env.NODE_RED_HOME || __dirname;\n\n// Construa o caminho para o arquivo file.txt\nconst filePath = `${baseDir}/data/file.txt`;\n\n// Defina o caminho no msg.filename\nmsg.filename = filePath;\n\n// Não sobrescreva msg.payload, que já contém os dados da POST\n// Caso queira adicionar algum texto antes, pode fazer assim:\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 260,
        "wires": [
            [
                "f9218c6d85ee5484"
            ]
        ]
    },
    {
        "id": "a961b59b528f1362",
        "type": "OpcUa-Item",
        "z": "0008fcf0ac8e3fc4",
        "item": "ns=4;i=2",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 500,
        "wires": [
            [
                "17c7057090b2d153"
            ]
        ]
    },
    {
        "id": "17c7057090b2d153",
        "type": "OpcUa-Client",
        "z": "0008fcf0ac8e3fc4",
        "endpoint": "14e0290e2bea4e8c",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 600,
        "y": 500,
        "wires": [
            [
                "cb1c983261db0b83",
                "ad2e6a82219b9515"
            ],
            []
        ]
    },
    {
        "id": "7a9d55ba0cba4aba",
        "type": "inject",
        "z": "0008fcf0ac8e3fc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "a961b59b528f1362"
            ]
        ]
    },
    {
        "id": "cb1c983261db0b83",
        "type": "debug",
        "z": "0008fcf0ac8e3fc4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 540,
        "wires": []
    },
    {
        "id": "08f42bf24c561626",
        "type": "http response",
        "z": "0008fcf0ac8e3fc4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "ad2e6a82219b9515",
        "type": "json",
        "z": "0008fcf0ac8e3fc4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 440,
        "wires": [
            [
                "08f42bf24c561626"
            ]
        ]
    },
    {
        "id": "b9c0c8cc76eaf506",
        "type": "OpcUa-Item",
        "z": "0008fcf0ac8e3fc4",
        "item": "ns=4;i=2",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 680,
        "wires": [
            [
                "ce3f6ea078daf688"
            ]
        ]
    },
    {
        "id": "ce3f6ea078daf688",
        "type": "OpcUa-Client",
        "z": "0008fcf0ac8e3fc4",
        "endpoint": "14e0290e2bea4e8c",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 600,
        "y": 680,
        "wires": [
            [
                "a1ab53647f7916b3",
                "df9b6ea2fda7202d"
            ],
            []
        ]
    },
    {
        "id": "01f3fa6e17663c76",
        "type": "inject",
        "z": "0008fcf0ac8e3fc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "true",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "b9c0c8cc76eaf506"
            ]
        ]
    },
    {
        "id": "a1ab53647f7916b3",
        "type": "debug",
        "z": "0008fcf0ac8e3fc4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 720,
        "wires": []
    },
    {
        "id": "df9b6ea2fda7202d",
        "type": "http response",
        "z": "0008fcf0ac8e3fc4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 660,
        "wires": []
    }
]